
/*mobile*/
body {
    font-family: 'noto';
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    padding: 0;
    background-color: #ECECEC;
}

*{
    font-family: 'Noto Sans SC', sans-serif;
}

.start {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

.game{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
}

.logo, .zone{
    max-width: 150px;
    padding-left: 20px
}
.game-title{
    margin-top: 0;
    margin-bottom: 30px;
}
.preview{
    margin-top: 30px;
}

.title{
    /* width: 100%;
    height: auto;
    padding: 0 15%;
    box-sizing: border-box; */
    display: flex;
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
}
.preview img{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

button{
    background-color: transparent;
    border: 0px;
    width:100%;
    padding: 2.5% 5%;
    cursor: pointer;
}

.cover-bottom{
    margin-top: auto;
}

.cover-bottom img{
    width: 100%;
    height: auto;
}

.instruction{
    background-color: white;
    z-index: 100;
}

.gametop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 15px;
}

.taskGiven{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.instruction p{
    margin: 0;
}

.scoreCount{
    padding: 15px;
}
.score{
    background-image: url("./img/pointsBackground.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.game-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("./img/background.png");
}

.AXE{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ AXE\ Brand\ Oil.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.FengYou{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_Feng\ You.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.Boomerang{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/Others_\ Boomerang.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.BeeChengHiang{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ Bee\ Cheng\ Hiang.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.Yeos{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ Yeos.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.Hanbok{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/Others_\ Hanbok.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.TWG{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ TWG.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.BreadTalk{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ BreadTalk.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.Strawberry{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/Others_\ Strawberry.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.TigerBalm{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ Tiger\ Balm.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.OldChangKee{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/SG_\ Old\ Chang\ Kee.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.Sushi{
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    position: absolute;
    display: flex;
    background-image: url("./img/Others_\ Sushi.png");
    background-size: contain;
    justify-content: center;
    background-repeat: no-repeat;
}

.fadeOut{
    animation: fade 0.5s;
    -webkit-animation: fade 0.5s;
    opacity: 0;
}

@-webkit-keyframes fade {
    from{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    to{
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);}
  }
  @keyframes fade {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
  }


.gap{
    position: absolute;
    width: 100%;
    height: 100%;
}

.pop{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.close{
    width: 75%;
}

img.btn{
    width: 100%;
}

button.submit, button.playAgain{
    max-width: 75%;
    display: flex;
    margin: 0 auto;
}

.startbtn{
    max-width: 250px;
}

.final{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.final .end{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    padding: 5% 5%;
}
button.playAgain{
    margin-top: 30px;
}

.hide{
    display: none;
    visibility: hidden;
}

.game .logo, .final .logo{
    max-width: 100px;
}

.game .zone, .final .zone {
    max-width: 120px;
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .logo{
        max-width: 250px;
    }
    .title{
    padding: 5% 15%;
    }
    .question{
        font-size: 32px;
    }
    button.playAgain{
        max-width: 450px;
    }
    .final .end{
        padding: 5% 5%;
        max-width: 450px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    .start, .game, .final, .game-container,.gap{
        max-width: 400px;
        margin: 0 auto;
    }
    .startbtn{
        max-width: 200px;
    }
    .final .end{
        max-width: 200px;
    }
    .game-title{
        margin-bottom: 10px;
    }
    .preview{
        margin-top: 0;
    }
  }